In [9]:
def area(base , altura):
    return base * altura
print (area (5 , 10))

50

In [10]:
print("¡Hola, mundo!", "42", "3.14159", "True")

¡Hola, mundo! 42 3.14159 True

In [12]:
# Ejemplo de parámetros 
print("Hola", "Python", "3.11", sep="-") 
print("Mensaje sin salto", end="") 
print("continuación") 
print("A", "B", "C", sep="***", end="!!!\n")

Hola-Python-3.11
Mensaje sin saltocontinuación
A***B***C!!!

In [29]:
# Caso Práctico 1: Sistema de Informacion Personal 
nombre = "Maria Garcia" edad = 28
profesion = "Desarrolladora Python" ciudad = "Madrid" salario = 45000.50 
print("= * 50)")
print("INFORMACIÓN PERSONAL") 
print("=" * 50) print(f"Nombre: {nombre}") 
print (f"Edad:(edad) años") 
print(f"Profesión: ")
print(f"Ciudad: ¨{ciudad}")
print(f"Salario:€(salario):,.2f)")
print("=" * 50)

SyntaxError: invalid syntax (255233202.py, line 2)